 @media print{
 	body {
      -webkit-print-color-adjust: exact;
    }

    #billofchargesText {
    	background-color: black !important;
    	color: white !important;
    	display: initial;
    	border-radius: 3px;
    	font-size: 23px;
    	padding-left: 3px;
    	padding-right: 3px;
    }

    #bocTheadTr {
    	background: black !important;
    }

    #bocTheadTr > th {
    	color: white !important;
    	border-left: 2px solid white;
    }

    
 }
 	